<!DOCTYPE html>
<html>
    <head>
        <title>Arboretum App - {{ page.title }}</title>
    </head>
    <body>
                    <ul id="nav_buttons" class="round">
                        {% assign c = ' class = "current_page round"' %}
                        {% case page.title %}
                          {% when "Home" %}
                            {% assign h = c %}
                          {% when "Team Members" %}
                            {% assign t = c %}
                        {% endcase %}
                        <li{{ h }}><a href="/index.html">home</a></li>
                        <li{{ t }}><a href="/TeamMembers.html">about</a></li>
                    </ul>
    </body>
</html>
